* {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
@media (max-width: 990px) {
  .userList {
    display: none;
  }
  .userInfo {
    display: none;
  }
  .locationInfo {
    display: none;
  }
}
@media (min-width: 760px) {
  .user-stats {
    width: 70%;
  }
  .in-out {
    width: 30%;
  }
}

@media (min-width: 1030px) {
  .user-stats {
    width: 70%;
  }
  .in-out {
    width: 30%;
  }
}

.mapView {
  z-index: 1;
  padding-bottom: 20px;
}
.leaflet-container {
  min-width: 0;
  min-height: 10vh;
  height: 56vh;
  border-radius: 0.25rem;
}

.leaflet-bar {
  visibility: hidden !important;
}
.userText {
  text-align: left;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--cui-card-border-color, rgba(0, 0, 21, 0.125));
}

.nUsers {
  font-family: 'Rajdhani', sans-serif;
  font-weight: 900;
}
.userTextLabel {
  margin-bottom: 0;
}
.nUserLocation {
  color: rgb(161, 161, 161);
}

.searchUser {
  margin-top: 10px;
}

.locationInfo {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  color: rgb(34, 34, 34);
  letter-spacing: 0.5px;
  background: rgba(255, 255, 255, 0.979);
  padding: 0;
  list-style: none;
  width: 7rem;
  height: 56vh;
  font-size: 14px;
  position: absolute;
  z-index: 999;
  box-shadow: 0 0 5px 0 rgba(153, 153, 153, 0.151);
  overflow: auto;
  scrollbar-width: none;
}
.userInfo {
  margin-left: 7rem;
  margin-right: auto;
  border-radius: 5px;
  color: rgb(34, 34, 34);
  letter-spacing: 0.5px;
  background: rgba(255, 255, 255, 0.979);
  padding: 5px 10px 10px 10px;
  list-style: none;
  width: 28rem;
  height: auto;
  max-height: 18rem;
  font-size: 14px;
  position: absolute;
  z-index: 999;
  box-shadow: 0 0 5px 0 rgba(153, 153, 153, 0.151);
  overflow: auto;
  scrollbar-width: none;
}
.locationName {
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 15px;
  text-align: center;
}

.titleCloseBtn {
  display: flex;
  justify-content: flex-end;
}

.titleCloseBtn button {
  background-color: transparent;
  border: none;
  font-size: 18px;
  position: absolute;
  cursor: pointer;
}

.locationUsers {
  cursor: pointer;
  font-size: 17px;
  margin: 5px;
  border-bottom: 1px solid var(--cui-card-border-color, rgba(0, 0, 21, 0.125));
}
.locationHeader {
  position: sticky;
  top: 0;
  background-color: white;
  align-items: center;
}
.locationUsers:hover {
  background-color: rgba(153, 153, 153, 0.151);
}

.userItem {
  cursor: pointer;
}

.userName {
  font-size: 14px;
}
.userName p {
  margin: 0;
}

.dateCheckIn {
  size: 12px;
}
.MuiInputBase-root {
  font-size: 12px !important;
  max-width: 55px;
}

.form-control.searchUser {
  width: 85%;
  height: 30px;
  padding-left: 9px;
  padding-right: 9px;
  margin: 0;
  margin-bottom: 8px;
  margin-left: auto;
  margin-right: auto;
}

.statusIna {
  height: 7px;
  width: 7px;
  margin-left: 5px;
  background-color: red;
  border-radius: 50%;
  display: inline-block;
}
.statusAct {
  height: 7px;
  width: 7px;
  margin-left: 5px;
  background-color: rgb(48, 206, 0);
  border-radius: 50%;
  display: inline-block;
}

.imgUser {
  width: 130%;
  height: 100%;
}

.imgUserStat {
  width: 4rem;
  height: 4rem;
}

.widget-stats {
  background-color: #ebf2f7;
  border-radius: 8px;
}

.labelRol {
  color: rgb(161, 161, 161);
  margin: 0;
}
